.mat-fab-bottom-right-2{
  position: fixed !important;
  right: 15px; /* Add this and change value to set the margin you want */
  z-index:5; 
  bottom : 1%; 
  margin-bottom : 25px;
}


.button-style {
  margin: 10px;
  background-color: #00CC66;
  color: white;
}