<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome {{name}}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav background-color" 
    fixedInViewport="false"
    fixedTopGap=64
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)"
      position="start">
    
      <div class="top-nav-list-style">
        <div>
          <div class="icon-style">
            <mat-icon>all_out</mat-icon>
          </div>
          <div class="name-style">{{name}}</div>
          <div class="email-style">{{email}}</div>
        </div>
        <mat-divider></mat-divider>
      </div>

    <div class="middle-nav-list-style">
      <mat-nav-list>
        <a mat-list-item routerLink="files"><mat-icon>folder</mat-icon>My Files</a>
        <a mat-list-item routerLink="ishare"><mat-icon>folder_shared</mat-icon>Files I'm Sharing</a>
        <a mat-list-item routerLink="ushare"><mat-icon>folder_special</mat-icon>Files Shared with me</a>
      </mat-nav-list>
    </div>

    <div class="bottom-nav-list-style">
      <mat-nav-list>
        <a mat-list-item routerLink="upload" (click)="onOpenDialog()"><mat-icon>file_upload</mat-icon>Upload File</a>
        <a mat-list-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="width: 99%;">
    <router-outlet>
      <!-- Add Content Here -->
    </router-outlet>
    <app-float-button-dialog></app-float-button-dialog>
  </mat-sidenav-content>

</mat-sidenav-container>
