<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome {{name}}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav background-color" 
    fixedInViewport="false"
    fixedTopGap=64
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)"
      position="start">
    <mat-toolbar>
      <div>
        <div>
          <div>{{name}}</div>
          <div>{{email}}</div>
        </div>
        <mat-divider></mat-divider>
       
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/files"><mat-icon>folder</mat-icon>My Files</a>
      <a mat-list-item href="#/ishares"><mat-icon>folder_shared</mat-icon>Files I'm Sharing</a>
      <a mat-list-item href="#/ushare"><mat-icon>folder_special</mat-icon>Files Shared with me</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
      <!-- Add Content Here -->
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
