<h1 mat-dialog-title>Upload Files</h1>

<div mat-dialog-content>
  <div>
    <mat-form-field appearance="outline" class="mat-dialog-input-box-style">
      <div class="content-div-row-styling">
        <!-- Readonly Input to show File names -->
        <input matInput [value]="file.name" placeholder="Click arrow to browse for file" readonly name="fileName" />
        <!-- Browse Button -->
        <mat-icon>file_upload</mat-icon>
        <!-- Fetch selected filed on change -->
        <input type="file" #fileUpload id="fileUpload"
          (change)="onSelectFile($event)" 
          name="fileUpload" />
      </div>
    </mat-form-field>
    <div class="div-label-style">
      <mat-label class="label-style">Click arrow to browse for file</mat-label>
    </div>
    <mat-form-field appearance="outline" class="mat-dialog-input-box-style">
      <input matInput [value]="overridePath" #override (change)="setOverride(override.value)" name="path"/>
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions align="center" valign="bottom">
  <div>
    <button mat-button class="button-style" (click)="onUploadForm(file)">Upload</button>
    <button mat-button class="button-style" (click)="onClose()">Cancel</button>
  </div>
  <mat-progress-bar [value]="file.progress" class="progress-bar-style"></mat-progress-bar>
</div>

